:root {
   --white: #ffffff;
   --black: #000000;
   --dark: #232830;
   --very-light-pink: #c7c7c7;
   --text-input-field: #f7f7f7;
   --hospital-green: #acd9b2;
   --sm: 14px;
   --md: 16px;
   --lg: 18px;
}

body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
}
 /* HOME */
 .cards-container {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fill, 240px);
    place-content: center;
 }
.product-card {
   width: 240px;
}
.product-card img {
   width: 240px;
   height: 240px;
   border-radius: 20px;
   object-fit: cover;
}
.product-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-block-start: 12px;
}
.product-info div p:nth-child(1){
   font-weight: bold;
   font-size: var(--md);
   margin-block-start: 0;
   margin-block-end: 4px;
}
.product-info div p:nth-child(2){
   font-size: var(--sm);
   margin-block: 0;
   color: var(--very-light-pink);
}
.product-card figure img {
   width: 36px;
   height: 36px;
}
.product-card figure {
   margin: 0;
}

@media (max-width: 640px){
   .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
   }
   .product-card{
      width: 140px;
   }
   .product-card img {
      width: 140px;
      height: 140px;
   }
}
/* NAVBAR */
.navbar {
   display: flex;
   /* width: 100%; */
   height: 60px;
   justify-content: space-between;
   padding-inline: 24px;
   align-items: center;
   border-block-end: 1px solid var(--very-light-pink);
}
.menu {
   display: none;
}
.logo-navbar{
   width: 100px;
}
.navbar-left{
   display: flex;
}
.navbar-left ul {
   margin-inline-start: 12px;
}
.navbar-left ul,
.navbar-right ul{
   list-style: none;
   padding: 0;
   margin:0;
   display: flex;
   align-items: center;
}
.navbar-left ul  {
   margin-inline-start: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a{
   text-decoration: none;
   color: var(--very-light-pink);
   border: 1px solid var(--white);
   padding: 8px;
   border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
   border: 1px solid var(--hospital-green);
   color: var(--hospital-green);
}
.navbar-email{
   color: var(--very-light-pink);
   font-size: var(--sm);
   margin-inline-end: 12px;
}
.navbar-shopping-cart{
   position: relative;
}
.navbar-shopping-cart div {
   width: 16px;
   height: 16px;
   background-color: var(--hospital-green);
   border-radius: 50%;
   font-size: var(--sm);
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   inset-block-start: -6px;
   inset-inline-end: -6px;
}
@media (max-width: 640px){
   .menu {
      display: block;
   }
   .navbar-left ul,
   .navbar-email {
      display: none;
   }
}
/* DESKTOP MENU*/
.desktop-menu{
   width: 110px;
   height: auto;
   border: 1px solid var(--very-light-pink);
   border-radius: 6px;
   padding: 20px 20px 0 20px;
}
.desktop-menu ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
.desktop-menu ul li{
   text-align: end;
   margin-block-end: 20px;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
   font-weight: bold;
}
.desktop-menu ul li:last-child{
   padding-block-start: 20px;
   border-block-start: 1px solid var(--very-light-pink);
}
.desktop-menu ul li a{
   color: var(--black);
   text-decoration: none;
}

.desktop-menu ul li:last-child a{
   color: var(--hospital-green);
   font-size: var(--sm);
}
/* MOBILE MENU*/

.mobile-menu{
   padding: 24px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100vh;
}

.mobile-menu a{
   text-decoration: none;
   color: var(--black);
   font-weight: bold;
}
.mobile-menu ul{
   padding: 0;
   margin: 24px 0;
   list-style: none;
}
.mobile-menu ul:nth-child(1){
   border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li{
   margin-block-end: 24px;
}
a.email{
   font-size: var(--sm);
   font-weight: 300;
}
a.sign-out{
   font-size: var(--sm);
   color: var(--hospital-green);
}
/* MY ORDER */
.my-order{
   width: 100%;
   height: 100vh;
   display: grid;
   place-items: center;
}
.title-order{
   font-size: var(--lg);
   margin-block-end: 40px;
}
.my-order-container{
   display: grid;
   grid-template-rows: auto 1fr auto;
   width: 300px;
}
.my-order-content{
   display: flex;
   flex-direction: column;
}
.order {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 16px;
   align-items: center;
   background-color: var(--text-input-field);
   margin-block-end: 24px;
   border-radius: 8px;
   padding-inline: 24px;
}
.order p:nth-child(1), 
.orders p:nth-child(1) {
   display: flex;
   flex-direction: column;
}
.order p span:nth-child(1),
.orders p span:nth-child(1){
   font-size: var(--md);
   font-weight: bold;
}
.order p span:nth-child(2),
.orders p span:nth-child(2){
   font-size: var(--sm);
   color: var(--very-light-pink)
}
.order p:nth-child(2),
.orders p:nth-child(2) {
   text-align: end;
   font-weight: bold;
}
.shopping-cart{
   display: grid;
   align-items: center;
   grid-template-columns: auto 1fr auto auto;
   gap: 16px;
   margin-block-end: 24px;
}
.shopping-cart figure{
   margin: 0;
}
.shopping-cart figure img{
   width: 70px;
   height: 70px;
   object-fit: cover;
   border-radius: 20px;
}
.shopping-cart p:nth-child(2){
   color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3){
   font-size: var(--md);
   font-weight: bold;
}
/*MY ORDERS*/
.orders {
   display: grid;
   grid-template-columns: auto 1fr auto;
   gap: 16px;
   align-items: center;
   margin-block-end: 12px;
   border-radius: 8px;
}


/* LOGIN */

.login {
   width: 100%;
   height: 100vh;
   display: grid;
   place-items: center;
}

.form-container,
.email-container {
   display: grid;
   grid-template-rows: auto 1fr auto;
   width: 300px;
}
.email-container {
   justify-items: center;
}
.logo,
.logo-email {
   width: 150px;
   margin-block-end: 48px;
   justify-self: center;
}
.logo {
   display: none;
}
.title {
   font-size: var(--lg);
   margin-block-end: 12px;
   text-align: center;
}
.title-login {
   text-align: start;
   margin-block-end: 36px;
}
.subtitle {
   color: var(--very-light-pink);
   font-size: var(--md);
   font-weight: 300;
   margin-block-start: 0;
   margin-block-end: 32px;
   text-align: center;
}
.email-image {
   width: 132px;
   height: 132px;
   border-radius: 50%;
   background-color: var(--text-input-field);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-block-end: 24px;
}
.email-image img {
   width: 80px;
}
.form {
   display: flex;
   flex-direction: column;
}
.form div {
   display: flex;
   flex-direction: column;
}
.form a {
   color: var(--hospital-green);
   font-size: var(--sm);
   text-align: center;
   text-decoration: none;
   margin-block-end: 52px;
}
.label {
   font-size: var(--sm);
   font-weight: bold;
   margin-block-end: 4px;
}
.value{
   color: var(--very-light-pink);
   font-size: var(--md);
   margin: 8px 0 32px 0;
}
.input {
   background-color: var(--text-input-field);
   border: none;
   border-radius: 8px;
   height: 30px;
   font-size: var(--md);
   padding: 6px;
   margin-block-end: 12px;
}
.input-email,
.input-email,
.input-password {
   margin-block-end: 22px;
}
.resend {
   font-size: var(--sm);
}
.resend span {
   color: var(--very-light-pink);
}
.resend a {
   color: var(--hospital-green);
   text-decoration: none;
}
.primary-button {
   background-color: var(--hospital-green);
   border: none;
   border-radius: 8px;
   color: var(--white);
   width: 100%;
   cursor: pointer;
   font-size: var(--md);
   font-weight: bold;
   height: 50px;
}
.secondary-button {
   background-color: var(--white);
   border: 1px solid var(--hospital-green);
   border-radius: 8px;
   color: var(--hospital-green);
   width: 100%;
   cursor: pointer;
   font-size: var(--md);
   font-weight: bold;
   height: 50px;
}
.login-button {
   margin-block-start: 14px;
   margin-block-end: 30px;
}
@media (max-width: 640px) {
   .logo {
      display: block;
   }
   .secondary-button{
      position: absolute;
      inset-block-end: 0;
      margin-block-end: 24px;
      width: 300px;
   }
   .form-container{
      height: 100%;
   } 
   .form{
      height: 100%;
      justify-content: space-between;
   }
}
